<div class="message-list">
  <div *ngIf="messages.length === 0" class="no-messages">
    <p>No messages yet. Start the conversation!</p>
  </div>
  
  <div *ngFor="let message of messages" 
       class="message" 
       [class.sent]="message.senderId === currentUser?.id"
       [class.received]="message.senderId !== currentUser?.id">
    <div class="message-content">
      {{ message.content }}
      <div *ngIf="message.fileUrl" class="file-attachment">
        <a [href]="message.fileUrl" target="_blank">
          <i class="fas fa-file"></i> Attachment
        </a>
      </div>
    </div>
    <div class="message-time">
      {{ message.timestamp | date:'short' }}
    </div>
  </div>

